---
layout: default
---

<div class="home">
    <div class="row pack">
        <div class="col-md-12 col-sm-12 card">
            <div class="panel panel-default">
                <div class="panel-body"><h3 class="panel-title pull-left">Blog Posts</h3></div>
                {% for post in site.posts %}
                    {% if post.category != 'slides' and post.category != 'books' %}
                        {% if post.link_to %}
                            <a href="{{ post.link_to }}" class="index-anchor"><div class="panel-body">{{post.date | date: "%Y-%m-%d"}} - {{ post.title }} <span class="badge badge-secondary">{{ post.category }}</span></div></a>
                        {% else %}
                            <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor"><div class="panel-body">{{post.date | date: "%Y-%m-%d"}} - {{ post.title }} <span class="badge badge-secondary">{{ post.category }}</span></div></a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div> 
</div>
