---
layout: default
---

<div class="home">
    <div class="row pack">
        {% assign sorted_cats = site.categories | sort %}
        {% for category in sorted_cats %}
            <div class="col-md-12 card">
            {% capture category_name %}{{ category | first }}{% endcapture %}
            {% assign sorted_posts = category[1] | sort:"title" %}
            {% for post in sorted_posts %}
             <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">    
                <div class="panel panel-default">
                  
                  <div class="panel-body">
                    <h3 class="panel-title pull-left">{{ post.title }}</h3><span class="post-meta pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
                  </div>
                  
                  <div class="panel-body"><small>{{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}</small></div>
                </div>
                </a>
        
          {% endfor %}
            </div>
        {% endfor %}

    </div> 
</div>
