---
layout: default
---

<div class="home">
    <div class="row pack">
        <div class="col-md-12 col-sm-12">
            <div class="row pack">
                <div class="col-md-12 col-sm-12 card">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="panel-title pull-left">Books</h3>
                         </div>
                    {% assign sorted_posts = site.categories.books | sort:"-date" %}
                    {% for post in sorted_posts %}
                        {% if post.link_to %}
                         <a href="{{ post.link_to }}" class="index-anchor"><div class="panel-body">{{post.date | date: "%Y-%m-%d"}} - {{ post.title }}</div></a>
                        {% else %}
                         <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor"><div class="panel-body">{{post.date | date: "%Y-%m-%d"}} - {{ post.title }}</div></a>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="row pack">
        <div class="col-md-12 col-sm-12">
            <div class="row pack">
                <div class="col-md-12 col-sm-12 card">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="panel-title pull-left">Bookshelf</h3>
                         </div>
                         <div class="panel-body">9780201835953 - The Mythical Man-Month: Essays on Software Engineering, Anniversary Edition</div>
                         <div class="panel-body">9780321278548 - Mac OS X Internals: A Systems Approach</div>
                         <div class="panel-body">9781784046446 - The Artist's Guide to Drawing Manga</div>
                         <div class="panel-body">9780071429771 - Teach Yourself Go</div>
                         <div class="panel-body">9780356500843 - Ender's Game (Ender Saga): Book 1 of the Ender Saga</div>
                         <div class="panel-body">9781843545040 - Self-Made Man: My Year Disguised as a Man</div>
                         <div class="panel-body">9780099477464 - Brave New World</div>
                         <div class="panel-body">9780141036137 - Animal Farm</div>
                         <div class="panel-body">9781846680441 - How to Fossilise Your Hamster: And Other Amazing Experiment</div>
                         <div class="panel-body">9780465019076 - The Vanishing Face of Gaia: A Final Warning</div>
                         <div class="panel-body">9788873034988 - TCP/IP</div>
                         <div class="panel-body">9780007317318 - The Invisible Gorilla: And Other Ways Our Intuition Deceives Us</div>
                         <div class="panel-body">9780804802260 - A Guide to Reading and Writing Japanese</div>
                         <div class="panel-body">9780521427081 - What is Life?: With Mind and Matter and Autobiographical Sketches</div>
                         <div class="panel-body">9780596527679 - Art of Agile Development</div>
                         <div class="panel-body">9780140136296 - How to Lie with Statistics</div>
                         <div class="panel-body">9781558603394 - Parallel Programming with MPI</div>
                         <div class="panel-body">9781590305706 - What Makes You Not a Buddhist</div>
                         <div class="panel-body">9780201325638 - UML Distilled: Applying the Standard Object Modelling Language</div>
                         <div class="panel-body">9780321146533 - Test Driven Development: By Example</div>
                         <div class="panel-body">9780321213358 - Refactoring to Patterns </div>
                         <div class="panel-body">9780201485677 - Refactoring: Improving the Design of Existing Code</div>
                         <div class="panel-body">9780201734843 - C++ Templates: The complete guide</div>
                         <div class="panel-body">9781785031137 - The Martian</div>
                         <div class="panel-body">9781930934122 - VTK Visualization toolkit</div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>


