---
layout: default
---

<div class="home">
    <div class="row pack">
        <div class="col-md-12 col-sm-12">
            <div class="row pack">
                    <div class="col-md-12 col-sm-12 card">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <h3 class="panel-title pull-left">Books</h3>
                          </div>
                    {% assign sorted_posts = site.categories.books | sort:"-date" %}
                    {% for post in sorted_posts %}
                        {% if post.link_to %}
                            <a href="{{ post.link_to }}" class="index-anchor"><div class="panel-body">{{post.date | date: "%Y-%m-%d"}} - {{ post.title }}</div></a>
                        {% else %}
                            <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor"><div class="panel-body">{{post.date | date: "%Y-%m-%d"}} - {{ post.title }}</div></a>
                        {% endif %}
                    {% endfor %}
                    </div>
                    </div>
            </div> 
        </div>
    </div>
    <div class="row pack">
        <div class="col-md-12 col-sm-12">
            <div class="row pack">
                    <div class="col-md-12 col-sm-12 card">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <h3 class="panel-title pull-left">Books</h3>
                          </div>
                    {% assign sorted_posts = site.categories.books | sort:"-date" %}
                    {% for post in sorted_posts %}
                        {% if post.link_to %}
                            <a href="{{ post.link_to }}" class="index-anchor"><div class="panel-body">{{post.date | date: "%Y-%m-%d"}} - {{ post.title }}</div></a>
                        {% else %}
                            <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor"><div class="panel-body">{{post.date | date: "%Y-%m-%d"}} - {{ post.title }}</div></a>
                        {% endif %}
                    {% endfor %}
                    </div>
                    </div>
            </div> 
        </div>
    </div>
</div>
